<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détail d'un étudiant </title>
    <span th:replace="~{fragments/bootstrapImports :: bootstrapImports}"></span>
</head>
<body>
<span th:replace="~{fragments/header :: header}"></span>
    <main class="container">
        <div class="card mt-5">
            <div class="card-body">
                <h4 class="card-title" th:text="${student.getLastname()}"></h4>
                <h6 class="card-subtitle mb-2 text-muted" th:text="${student.getFirstname()}"></h6>
                <p class="card-text" th:text="'email: ' + ${student.getEmail()}"></p>
                <p class="card-text" th:text="'âge: ' +  ${student.getAge()}"></p>
                <div class="d-flex">
                    <a th:href="@{/update/{id}(id=${student.getId()})}" class="btn btn-info">Mutater l'étudiant</a>
                    <a th:href="@{/delete/{id}(id=${student.getId()})}" class="btn btn-danger ms-2">Eliminer l'étudiant</a>
                    <a th:href="@{/}" class="card-link ms-auto ">Retour à l'accueil</a>
                </div>

            </div>
        </div>
    </main>

</body>
</html>