<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Conversation</title>
    <span th:replace="~{fragments/bootstrapImports :: bootstrapImports}"></span>
</head>
<body>
<span th:replace="~{fragments/header :: header}"></span>

<main class="container">
  <h2 th:text="${message.getAuthor().getName()}"></h2>
  <p> <span>Date: </span> <span th:text="${formatter.format(message.getDateTime())}"></span> </p>
  <p th:text="${message.getContent()}"></p>


  <section th:if="${!responses.isEmpty()}" class="p-5">
    <h2>Réponses</h2>

    <article th:each="r : ${responses}">
      <hr>
      <h4 th:text="${r.getAuthor().getName()}"></h4>
      <p> <span>Date: </span> <span th:text="${formatter.format(r.getDateTime())}"></span></p>
      <p th:text="${r.getContent()}"></p>
    </article>
  </section>

  <hr>
  <form th:action="@{/forum/{idMessage}(idMessage=${message.getId()})}" method="post" th:object="${newResponse}" >
    <div>
      <label for="content" class="form-label mt-4">Répondre: </label>
      <textarea class="form-control" id="content" placeholder="Entrez votre réponse"
                th:field="*{content}"> </textarea>
    </div>

    <button class="btn btn-success mt-4">Répondre</button>

  </form>
</main>

</body>
</html>