<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
    <span th:replace="~{fragments/bootstrapImports :: bootstrapImports}"></span>
</head>
<body>
<span th:replace="~{fragments/header :: header}"></span>
<main class="container">
    <form th:action="@{/signup}" th:object="${user}" method="post">
        <h1>Inscription</h1>
        <input type="text" class="d-none" th:field="*{id}">


        <div>
            <label for="name" class="form-label mt-4">Nom: </label>
            <input type="text" class="form-control" id="name" placeholder="nom" th:field="*{name}">
            <!--        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>

        <div>
            <label for="password" class="form-label mt-4">mot de passe: </label>
            <input type="password" class="form-control" id="password" placeholder="mot de passe" th:field="*{password}">
            <!--        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>-->
        </div>



        <button class="btn btn-success mt-4">Inscription</button>


    </form>

    <a th:href="@{/}">Déjà un compte?</a>
</main>

</body>

</html>