<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <h1 class="navbar-brand mt-2">Exercice 4 Recettes</h1>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/}">Recettes
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/categories}">Catégories
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                </ul>
<!--                <form class="d-flex" th:action="@{/filter}" method="get">-->
<!--                    <input class="form-control me-sm-2" type="search" name="lastname" placeholder="Rechercher un nom">-->
<!--                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>-->
<!--                </form>-->
            </div>
        </div>
    </nav>
</th:block>


</body>
</html>